<% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= @genre.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @genre, local: true) do |form| %>
  <div class="pb10">
  <%= form.label :name %>
  <%= form.text_field :name %>
  </div>
  <div class="pb10">
  <%= form.label :convinience %>
  <%= form.number_field :convinience %>
  </div>
  <div class="pb10">
  <%= form.label :eatout %>
  <%= form.number_field :eatout %>
  </div>
  <div class="pb10">
  <%= form.label :supermarket %>
  <%= form.number_field :supermarket %>
  </div>
  <div class="pb10">
  <%= form.label :income %>
  <%= form.number_field :income %>
  </div>
  <div class="pb10">
  <%= form.label :hobby %>
  <%= form.number_field :hobby %>
  </div>
  <div class="pb10">
  <%= form.label :cost %>
  <%= form.number_field :cost %>
  </div>
  <div class="pb10">
  <%= form.submit "送信" %>
  </div>
<% end %>