<%= form_with(model: @monthlyinput, local: true) do |form| %>
  <p>
  <%= form.label :store_id %>
  <%= form.collection_select :store_id, Store.all, :id, :name %>
  </p>
  <p>
  <%= form.label :price %>
  <%= form.number_field :price %>
  </p>
  <p>
  <%= form.label :inputday %>
  <%= form.number_field :inputday %>
  </p>
  <p>
  <%= form.label :start %>
    <%= form.date_select( :start, start_year: 2010, use_month_numbers: true, 
          end_year:   (Time.now.year)+10,
          default:    Date.new(Time.now.year, Time.now.month, 1),
          date_separator: '/' )
          %>
  </p>
  <p>
  <%= form.label :enddate %>
    <%= form.date_select( :enddate, start_year: 2010, use_month_numbers: true, 
          end_year:   (Time.now.year)+60,
          default:    Date.new(Time.now.year, Time.now.month, 1),
          date_separator: '/' )
          %>
  </p>
  <p>
  <%= form.hidden_field :book_id, value: @book_id %>
  <%= form.submit "Submit" %>
  </p>
<% end %>