<div class="contentContainer">
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h3><%= @book.errors.count %>件のエラーがあります。</h3>
      <ul>

      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <h2 class="title"><%= @book.name %></h2>
  <h3 class="pb10"><%= @year %>年<%= @month %>月</h3>
<%
  pretime  = get_pretime
  posttime = get_posttime
%>
  <div class="timeselect flex pb10">
    <div class="left">
      &lt;&lt;<%= link_to pretime[:str] , book_path(@book.id, month: pretime[:month], year: pretime[:year]) %> 
    </div>
    <div class="right">
      <%= link_to posttime[:str] , book_path(@book.id, month: posttime[:month], year: posttime[:year]) %>&gt;&gt;
    </div>
  </div>
  <div class="flex">
    <div class="income">
      <table class="table table_border">
        <tr>
          <th colspan="4">収入</th>
        </tr>
        <tr>
          <th>収入元</th>
          <th>金額</th>
          <th>日付</th>
          <th>-</th>
        </tr>
<% @data.each do |r| %>
  <% store = Store.find(r.store_id) %>
  <% if Genre.find(store.genre_id).income == 1 %>
         <tr>
           <td><%= store.name %></td>
           <td><%= r.price %></td>
           <td><%= r.pay_date %></td>
           <td>
             <%= link_to "削除", receipt_path(r.id), method: :delete if r.id != nil %>
           </td>
        </tr>
  <% end %>
<% end %>
        <tr>
          <td>計</td>
          <td colspan="3"><%= @income %>&nbsp;円</td>
        </tr>
      </table>
    </div>
    <div class="spend">  
      <table class="table table_border">
        <tr>
          <th colspan="4">支出</th>
        </tr>
        <tr>
          <th>店名</th>
          <th>金額</th>
          <th>日付</th>
          <th>-</th>
        </tr>
<% @data.each do |r| %>
  <% store = Store.find(r.store_id) %>
  <% if Genre.find(store.genre_id).income == 0 %>
        <tr>
          <td><%= store.name %></td>
          <td><%= r.price %></td>
          <td><%= r.pay_date %></td>
          <td><%= link_to "削除", receipt_path(r.id), method: :delete if r.id != nil %></td>
        </tr>
  <% end %>
<% end %>
        <tr>
          <td>計</td>
          <td colspan="3"><%= @payment %>&nbsp;円</td>
        </tr>
      </table>
    </div>
  </div> <!-- class="flex" -->
  
  <div class="pt10">
    <table class="table table_border">
    <tr>
      <td>差引</td>
      <td><%= @income - @payment %>&nbsp;円</td>
    </tr>
    </table>
  </div>

  <div class="new_receipt pt20">
      <h3 class="title">新規レシート</h3>
  <% receipt = Receipt.new %>
  <%= form_with(model: receipt, local: true, url: receipts_path) do |form| %>
    <p class="pb10">
      <%= form.label :store_id %>
      <%= form.collection_select :store_id, @book.stores, :id, :name %>
    </p>
    <p class="pb10">
      <%= form.label :pay_date %>
      <%= form.date_select( :pay_date, start_year: 2010, use_month_numbers: true, 
          end_year:   (Time.now.year),
          default:    Date.new(@year, @month, 1),
          date_separator: '/' )
          %>
    </p>
    <p class="pb10">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </p>
    <p class="pb10">
      <%= form.hidden_field :book_id, value: @book.id.to_s %>
      <%= form.hidden_field :month , value: @month %>
      <%= form.hidden_field :year , value: @year %>
      <%= form.submit "送信" %>
    </p>
  <% end %>
  </div> <!-- class="new_receipt" -->
</div> <!-- class="contentContainer" -->