<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<div class="mainContainer">
		<header class="header">
			<nav class="flex relative">
				<div class="headerLeft">
					<div>
					  <h1 class="title">kakeibo</h1>
					</div>
				</div>
				<div class="headerRight flex">
				  <%
				    if logged_in?
					    current_user
					 end
					%>
				  
					<% if logged_in? %>
					<div>
						<%=  link_to @current_user.email, user_path(@current_user.id) %>
					</div>
					<div>
						<%= link_to "ログアウト", session_path(@current_user.id), method: :delete %>
					</div>
					<% else %>
					  <div>
					    <%= link_to "新規登録" , new_user_path %>
					  </div>
					  <div>
					  	<%= link_to "ログイン", sessions_path %>
					  </div>
					<% end %>
				</div>
			</nav>
		</header>
		<section class="content">
			<aside class="contentLeft">
				<nav class="leftNavi">
					<ul class="noMarker">
						<li>
							<%= link_to "家計簿を選ぶ", books_path %>
						</li>
						<% if session[:bookselect] %>
						<% @bookid = session[:bookselect] %>
						<li>
							<%= link_to "家計簿を作る" , book_path(@bookid) %>
						</li>
						<li>
							<%= link_to "毎月ごとの自動入力" , monthlyinputs_path(book_id: @bookid) %>
						</li>
						<li>
							<%= link_to "グラフを見る", graph_linegraph_path(book_id: @bookid) %>
						</li>
						<li>
							<%= link_to "お店の一覧を見る", stores_path(book_id: @bookid) %>
						</li>
						<li>
							<%= link_to "お店を追加する", new_store_path(book_id: @bookid) %>
						</li>
						<li>
							<%= link_to "お店の種類を見る", genres_path(book_id: @bookid) %>
						</li>
						<% end %>
					</ul>
				</nav>
      </aside>
      <div class="contentRight">
			  <div class="flashmessage">
          <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
       </div>
       <%= yield %>
      </div>
		</section>
		<footer class="footer">
			<div class="footerContainer">
			  aa
		  </div>
      <div class="copyright">
        Copyright(C) 2018- kakeibo
      </div>
		</footer>
	</div>
</body>
</html>
